// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


table {
 color: black;
}

.index_title{
  padding: 0 50px 5px 0;
}

.index_body{
  padding: 0 50px 5px 0;
}

.index_link{
  padding: 0 10px 5px 0;
  color: black;
}

a:hover {
  color: white;
  background-color: skyblue;
}

.index_h1{
  margin: 10px 0 10px 0;
}

.input_form{
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.input_title{
  font-size: 20px;
}

.input_body{
  margin: 20px 0 0 0 ;
  font-size: 20px;
}

.flash{
  width: auto;
  color: white;
  background-color: green;
  font-size: 20px;
  text-align: center;
}

.show_span{
  font-size: 20px;
}

.show_box{
  margin: 20px 30px;
}

.errors_box{
  width: 500px;
  border: 5px solid crimson;
}

.errors_title{
  padding: 0 10px;
  color: white;
  background-color: crimson;
}

.errors_body{
  text-align: center;
  list-style-position: inside;
  padding: 30px;
  background-color: whitesmoke;
}